Database Requirements:
	Product
		Product Id
		Product Name
		Product Image
		Product Price
		Product Description
		Rating Stars

	Customer
		Customer Id
		Name
		Email
		Phone	
		Address
					
	Customer Order
		Order Id
		Product Name
		Payment
		Address
		Status
		Feedback
		Ordered On
		Delivered On
		
